.github span {
    opacity: 0;
}

.github image {
    cursor: pointer;
}

.github a:hover span {
    opacity: 1;
}

.github a:hover {
    text-decoration: none !important;
}

.material-icons {
    vertical-align: text-bottom;
}

.card {
    background-color: #F9F7E0;
}

body, a {
    color: #880421
}

.outlink {
    text-decoration: underline;
}

a:hover, a:focus {
    color: #460412
}

.research-line {
    font-size: 16px;
    float: right;
    margin-top: 0.5rem;
}